fiona==1.9.6
folium==0.19.5
geopandas==0.14.4
geopy==2.4.1
lxml==4.9.3
openpyxl==3.0.10
pandas==2.0.3
plotly==5.9.0
pydantic==2.10.5
pyproj==3.6.1
pyshp==2.3.1
pyvirtualdisplay
requests==2.31.0
rtree==1.0.1
selenium==4.30.0
shapely==2.0.1
streamlit==1.41.1
streamlit-aggrid==1.1.2
streamlit-folium==0.24.0
xlsxwriter==3.2.2
xmltodict
numpy==1.26.4

