fiona
folium
geopandas
geopy
lxml
openpyxl
pandas
plotly
pydantic
pyproj
pyshp
pyvirtualdisplay
requests
rtree
selenium
shapely
streamlit
streamlit-aggrid
streamlit-folium
xlsxwriter
xmltodict
st-aggrid
