fiona
folium
geopandas
geopy
lxml
openpyxl
pandas
plotly
pydantic
pyproj
pyshp
pyvirtualdisplay
requests
rtree
selenium
shapely
streamlit
streamlit-aggrid==1.1.2
streamlit-folium
xlsxwriter
xmltodict
numpy==1.26.4

